*{
    font-family: 'Trebuchet MS';
}
body, html{
    margin: 0;
    width: 100%;
    height: 100%;
}
p{
    margin: 0;
}
.title{
    font-size: 50px;
    text-align: center;
    padding: 10px;
}
header{
    height: 21%;
    width: 100%;
    margin: 0;
    background-color: aquamarine;
    text-align: center;
    font-size: 70px;
    align-content: center;
}
nav.top{
    height: 5%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: bisque;
}
nav.top a{
    display: block;
    width: 12.5%;
    height: 100%;
    background-color: white;
    margin: 0;
    float: left;
    text-align: center;
    align-content: center;
}
nav.side{
    position: fixed;
    height: 18%;
    width: 8%;
    background-color: aqua;
    margin: 1%;
}
nav.side a{
    display: block;
    width: 100%;
    height: 25%;
    text-align: center;
    align-content: center;
}
main{
    color: white;
    height: auto;
    width: 70%;
    margin: 0;
    background-color: black;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
}
footer{
    height: 5%;
    width: 100%;
    margin: 0;
    background-color: blueviolet;
    text-align: center;
    position: fixed;
    bottom: 0;
}